[Unit]
Description=Load multiple container images at boot
After=docker.service
Requires=docker.service docker.socket

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/container-load start
TimeoutStartSec=1800

[Install]
WantedBy=multi-user.target
